.description-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-right: 15px;
  height: 100%;
  overflow-y: auto;
}
.chart-container {
  position: relative;
  width: 100%;
  height: 500px;
}
.nav-buttons {
  margin-bottom: 20px;
}
.select-type{
  margin: 10px 50px 20px 50px;
}
.description {
  width: 70%;
}